extends layouts/main

block content
    .form-container
        form(action=routes.editVideo, method="post")
        input(type="text", placeholder="Title", name="title")
        input(type="textarea", placeholder="Desciption", name="desciption")
        input(type="Submit", value="Upload Video")
    a.form-container__link(href=routes.deleteVideo) Delete Video